@import '../../assets/assets';

.container {
        width: 100%;
        height: 100vh;
        margin-top: 150px;
        padding: 0;

        & #image {
                width: 49%;
                height: 100vh;
                display: inline-block;
                text-align: center;
                & img {
                        width: 60%;
                        height: 50%;
                        object-fit: cover;
                }
        }

        & #details {
                width: 49%;
                display: inline-block;
                box-sizing: border-box;
                height: 100vh;
                vertical-align: top;
                & .group {
                        width: 100%;
                        height: 100px;

                        & label {
                                width: 20%;
                        }

                        & input {
                                width: 50%;
                                height: 40px;
                                padding: 3px;
                                border: 1px solid transparent;
                                background-color: #eee;
                                border-radius:3px;
                                &:focus {
                                        outline: none;
                                }
                        }

                        & select {
                                width:50%;
                                height:40px;
                                border: 1px transparent;
                                background-color: #eee;
                                
                                &:focus {
                                        outline: none;
                                }
                        }
                }
        }

        & .update-btn {
                width: 100px;
                height: 50px;
                text-align: center;
                background-color: #95DEE3;
                line-height: 50px;
                border-radius: 3px;
                position: absolute;
                right: 10%;
        }

        & .back-btn {
                width: 100px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 3px;
                background-color: #B93A32;
                color: #ddd;
        }
}
