@import url("https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400i");


.center-block-elem, .container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.vertical-center-table {
  display: table-cell;
  vertical-align: middle; }

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #555;
  color: #ccc;
  text-align: center;
  flex-direction: column; }
  .container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0.5; }
  .container #subtext {
    z-index: 1;
    width: 100%;
    height: 20px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    opacity: 0.8;
    letter-spacing: 1px; }
  .container #title {
    z-index: 1;
    width: 100%;
    height: 100px;
    font-family: "Lato", sans-serif;
    font-size: 80px;
    letter-spacing: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0.8; }
  .container app-navigation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
